body {
  background-color: #e8ecef;
}

.centered {
  padding-top: 200px;
  text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.image-container {
  position: relative;
  width: 100%;
  overflow: hidden; /* Ensures the overlay stays within bounds */
}

.image-container img {
  display: block; /* Prevents a small gap at the bottom */
  transition: transform 0.3s ease; /* Add a smooth transition */
}

.image-container:hover img {
  transform: scale(1.1); /* Slightly zoom in on hover */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  opacity: 0;
  transition: opacity 0.3s ease; /* Smooth transition for opacity */
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay-content {
  text-align: center;
  color: white;
}

.overlay-content h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .home-section,
  .secrets-section,
  .submit-secret-section,
  .vh-100 {
    min-height: auto;
  }

  .jumbotron .display-3 {
    font-size: 2.5rem;
  }

  .jumbotron .lead {
    font-size: 1.2rem;
  }

  .hero-section .row {
    flex-direction: column;
    text-align: center;
  }

  .hero-section .col-md-6 {
    margin-bottom: 20px;
  }

  .divider {
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    width: 100%;
    margin: 20px 0;
  }

  .login-register-links {
    align-items: center;
    margin-right: 0;
    font-size: 1.5rem;
  }

  .image-container {
    width: 100%;
    margin-left: 0;
  }

  .secrets-section .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .display-4 {
    font-size: 2.5rem;
  }

  .navbar-brand {
    display: block; /* Allow the elements to stack vertically */
    text-align: left; /* Align the text to the left */
  }

  .navbar-brand .text-muted {
    margin-left: 0; /* Remove the left margin */
    display: block; /* Ensure the text stays on a new line */
    font-size: 0.8rem; /* Slightly reduce the font size */
  }
}
